/* Common styles */
body {
    margin: 0px;
    background-color: black;
    font-family: 'Roboto', sans-serif;
  }

/* Navigation-wrapper styles */
.navigation-wrapper {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
}

/* Logo styles */
.navigation-wrapper > .logo-column > .logo {
    text-align: center;
    padding-top: 25px;
    padding-left: 30px;
    width: 150px;
    height: 100px;
}

/* Nav-column styles */
.navigation-wrapper > .nav-column {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-left: -200px;
}

.navigation-wrapper > .nav-column > .explore {
    color: #F7DC6F;
    font-weight: 400;
    padding-left: 30px;
    height: 35px;
    margin-left: -14px;
}

/* Links-wrapper styles */
.links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-wrapper > .nav-link {
    width: 100px;
    text-align: center;
}

.links-wrapper > .nav-link a {
    color: white;
    font-weight: 500;
    font-size: 1.4em;
    text-decoration: none;
    transition: 0.5s;
}

.links-wrapper > .nav-link a:hover {
    color: #F7DC6F;
    letter-spacing: 2px;
}

/* Spark-column styles */
.navigation-wrapper > .spark-column {
    color: #99A3A4;
    display: flex;
    padding-top: 37px;
    margin-left: -200px;    
}

.navigation-wrapper > .spark-column:hover {
    color: white;
}

.navigation-wrapper > .spark-column > .spark {
    font-size: 1.2em;
    padding-right: 10px;
}

.navigation-wrapper > .spark-column > .down-chevron {
    padding-top: 4px;
}

/* Buttons-column styles */
.navigation-wrapper > .buttons-column > .buttons-wrapper {
    font-family: sans-serif;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    margin-top: 15px;
}

.navigation-wrapper > .buttons-column > .buttons-wrapper > .button-down {
    background-color: #424949;
    display: flex;
    text-align: center;
    padding: 0px 25px;
    height: 50px;
    border-radius: 3px;
}

.navigation-wrapper > .buttons-column > .buttons-wrapper > .button-down h3 {
    margin-top: 15px;
}

.navigation-wrapper > .buttons-column > .buttons-wrapper > .button-down:hover {
    background-color: #616A6B;
}

.navigation-wrapper > .buttons-column > .buttons-wrapper > .button-down i{
    color: #2ECC71;
    font-size: 1.2em;
    padding-left: 10px;
}

.button-link {
    background-color: #424949;
    text-align: center;
    padding: 0px 25px;
    height: 50px;
    border-radius: 3px;
}

.button-link h3 {
    margin-top: 15px;
}

.button-link:hover {
    background-color: #616A6B;
}

.navigation-wrapper > .buttons-column > .buttons-wrapper > .button-search {
    color: #616A6B;
    font-size: 2.3em;
}

.navigation-wrapper > .buttons-column > .buttons-wrapper > .button-search:hover {
    color: white;
}

/* Page-wrapper styles */
.page-wrapper {
    background: -prefix-linear-gradient(right, black, #616A6B);
    background: linear-gradient(to left, black, #616A6B);
    color: #99A3A4;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1.35fr 1fr;
    height: 505px;
    padding-left: 70px;
    padding-top: 40px;
}

.page-wrapper > .page-wrapper-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 70%;
    font-size: 2em;
    margin-bottom: 50px;
}

.page-wrapper > .page-wrapper-left > .left-text-up {
    font-size: 1.1em;
}

.page-wrapper > .page-wrapper-left > .left-text-up b {
    color: white;
    font-weight: 500;
}

.page-wrapper > .page-wrapper-left > .left-text-up span {
    display: inline-block;
    -webkit-transform: rotate(-45deg); 
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.page-wrapper > .page-wrapper-left > .left-text-center {
    font-size: 0.9em;
    width: 600px;
    margin-top: -40px;
    margin-bottom: 10px;
    line-height: 40px;
}

.page-wrapper > .page-wrapper-left > .left-text-down {
    display: flex;
}

.page-wrapper > .page-wrapper-left > .left-text-down > .sign-up {
    background-color: #2ECC71;
    color: black;
    text-align: center;
    padding: 15px 20px;
    border-radius: 3px;
}

.page-wrapper > .page-wrapper-left > .left-text-down > .sign-up:hover {
    background-color: #239B56;
    color: white;
}

.page-wrapper > .page-wrapper-left > .left-text-down > .learn {
    background-color: black;
    color: white;
    text-align: center;
    padding: 12px 20px;
    margin-left: 20px;
    border-radius: 3px;
}

.page-wrapper > .page-wrapper-left > .left-text-down > .learn:hover {
    background-color: white;
    color: black;
}

.page-wrapper > .page-wrapper-right {
    display: flex;
    flex-direction: column;
}

.page-wrapper > .page-wrapper-right > .right-text {
    color: white;
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.page-wrapper > .page-wrapper-right > .right-text > .right-text-left {
    margin-right: 4px;
}

.page-wrapper > .page-wrapper-right > .right-text > .right-text-center {
    color: #81D4FA;
}

.right-image img {
    width: 100%;
    height: 445px;
}

/* Footer styles */
.footer {
    background-color: #424949;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #99A3A4;
    border-bottom: 1px solid #99A3A4;
    margin-left: -5px;
}

.footer > .square {
    color: white;
    width: 100%;
    height: 10px;
    border-left: 1px solid #99A3A4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.footer > .square:hover {
    background-color: #616A6B;
}

.footer > .square > .codepen {
    font-size: 1.2em;
    padding-right: 5px;
}

.footer > .square > .text-upper {
    font-size: 1.5em;
    font-weight: bold;
}